
@{
    ViewData["Title"] = "BlogTittleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogTittleListExcel</h1>


<a href="/admin/blog/ExportDynamicExcelBlogList" class="btn btn-success">Excel Listesini İndir</a>
