
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Blog List Excel</h1>

<a href="/admin/blog/exportstaticexcelbloglist" class="btn btn-success">Excel Listesini İndir</a>

@*<button class="btn btn-success" onclick="DownloadExcelBlogList">Excel Listesini İndir</button>

<script>
    function DownloadExcelBlogList() {
        window.open("/admin/blog/ExportStaticExcelBlogList");
    }
</script>*@