@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotifications";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="col-lg-10  grid-margin stretch-card"  >
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Bildirimler</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Bildirim İçerik </th>
                        <th> Tarih </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.NotificationID </td>
                            <td> @item.NotificationDetails </td>
                            <td><label class="badge badge-info">@item.NotificationDate.ToShortDateString()</label></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



