
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>Deneme 1-2-3</h3>

<table class="table table-bordered table-hover bg-danger">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Bölüm</th>
    </tr>
    <tr>
        <td>5</td>
        <td>Ali</td>
        <td>demir</td>
        <td>öğretmen</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Ali</td>
        <td>demir</td>
        <td>öğretmen</td>
    </tr>
</table>

<table class="table table-bordered table-hover bg-warning">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Bölüm</th>
    </tr>
    <tr>
        <td>5</td>
        <td>Ali</td>
        <td>demir</td>
        <td>öğretmen</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Ali</td>
        <td>demir</td>
        <td>öğretmen</td>
    </tr>
</table>

<table class="table table-bordered table-hover bg-info">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Bölüm</th>
    </tr>
    <tr>
        <td>5</td>
        <td>Ali</td>
        <td>demir</td>
        <td>öğretmen</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Ali</td>
        <td>demir</td>
        <td>öğretmen</td>
    </tr>
</table>

<table class="table table-bordered table-hover bg-success">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Bölüm</th>
    </tr>
    <tr>
        <td>5</td>
        <td>Ali</td>
        <td>demir</td>
        <td>öğretmen</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Ali</td>
        <td>demir</td>
        <td>öğretmen</td>
    </tr>
</table>