@using CoreDemo.Controllers
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-hover table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Düzenle</a></td>
        </tr>
    }

</table>
<a href="/employeetest/addemployee/" class="btn btn-outline-primary">Yeni Çalışan Girişi</a>

